<div class="row justify-content-around">
    <div class="col-md-8 mb-5">
        <form class="form new-post-form">
            <h1 class="h3 mb-3 font-weight-normal">Edit post:</h1>
            <label for="post-title">Post title:</label>
            <input type="text" name="post-title" class="form-control mb-3" value="{{post.name}}">

            <label for="post-desc">Content:</label>
            <textarea name="content" type="text" value="{{post.description}}" id="post-desc"
                class="form-control mb-3">{{post.description}}</textarea>

            <button class="btn btn-lg btn-warning editBtn" type="submit">Update</button>
            <button class="btn btn-lg btn-danger deleteBtn" type="submit">Delete</button>
        </form>
    </div>
</div>

<script src="/js/editPost.js"></script>
