
<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/assets/img/usericon.png" class="brand_logo" height="200" width="200" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form class="form-signin signup-form">
                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
                            <label for="name-signup" class="sr-only">name</label>
							<input type="name" id="name-login" class="form-control input_user" placeholder="Full Name" required autofocus>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
                            <label for="email-signup" class="sr-only">Email</label>
							<input type="email" id="email-login" class="form-control input_user" placeholder="Email" required autofocus>
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                            <label for="password-signup" class="sr-only">Password:</label>
							<input type="password" id="password-signup" class="form-control input_pass" placeholder="Password">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
				 	        <button type="submit" class="btn btn-sm btn-primary btnSubmit">Signup</button>
				        </div>
                        <a class="login-link" href="/login">Already a user? Click here to Log In!</a>
				    </form>
				</div>
				
			</div>
		</div>
</div>



<script src="./js/signup.js"></script>
{{!-- <div class="col-md-6">
    <form class="form-signin signup-form">
        <h2 class="h3 mb-4 font-weight-bold">Signup</h2>
        <label for="name-signup" class="sr-only">Name</label>
        <input type="name" id="name-signup" class="form-control mb-3" placeholder="Name" required autofocus>
        <label for="email-signup" class="sr-only">Email</label>
        <input type="email" id="email-signup" class="form-control mb-3" placeholder="Email" required>
        <label for="password-signup" class="sr-only">Password</label>
        <input type="password" id="password-signup" class="form-control mb-3" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btnSubmit" type="submit">Signup</button>
    </form>
</div> --}}